body {
  margin: 20px;
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.19);
  padding: 10px;
  min-width: 90%;
  max-width: 90%;
  font-size: large;
  background-color: white;
}

button:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 3px 3px rgba(0,0,0,0.3);
  animation-name: background;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#error {
  margin-top: 5px;
  margin-left: 20px;
  color: blue;
}

@keyframes grow {
  0% {
    transform: scale(1.00);
  }
  100% {
    transform: scale(1.025);
  }
}

@keyframes background {
  100% {
    background-color: white;
  }
}

input {
  background: transparent;
  height: 50px;
  font-size: 28px;
  font-family: monospace;
}

.display-container {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: auto;
  min-width: 152px;
  padding: 7px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.grid-item {
  padding: 4px;
}