/* body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
} */

body {
  min-width: 400px;
}

button {
  border: none;
  box-shadow: 0 4px 40px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.1);
  padding: 10px;
  min-width: 25%;
  font-size: 14pt;
}

button:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 3px 3px rgba(0,0,0,0.3);

}

input {
  /* border: none; */
  background: transparent;
  height: 50px;
  font-size: 28px;
  width: auto;
}

.display-container {
  box-shadow: 0 4px 40px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.1);
  margin: 20px;
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  background: rgba(0,0,0,0.05);
}

.grid-container {
  box-shadow: 0 4px 40px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.1);
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  background: rgba(0,0,0,0.05);
}

.grid-item {
  padding: 10px;
  text-align: center;
}